 <style>
body {background-color: black;}
h1   {font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; color: red; text-align: center;}
h2   {font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; color: white; text-align: center;}
p    {font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; color: white; text-align: center;}
label  {font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; color: white; text-align: center;}

input[type=submit] {
  background-color: pink;
  color: white;
  padding: 12px 12px;
  margin: 8px 0;
  border: 1pt;
  border-radius: 4px;
  cursor: pointer;
}
</style>


'Hello Battle!'
<form action= "/names", method="post">
<p> Player 1 ? <input type="text" name="player_1"> </p>
<p> Player 2 ? <input type="text" name="player_2"> </p>
<p> <input type="submit" value="Submit"> </p>
</form>
